html {
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    background-color: #ffffff;
    font-family: "Montserrat","Roboto","Kaushan-Script",sans-serif;


}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 1201px;
    margin: 0px auto;
}

/* header */

.page-header {
    height: 100px;
    font-size: 14px;
    line-height: 17px;
    font-family: "Montserrat";
    color: rgb(149, 225, 211);
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    
}

.page-header a {
    text-decoration: none;
    color: rgb(149, 225, 211);
}

.site-navigation a::after {
    display: block;
    width: 50px;
    height: 3px;
    content: " ";
    background-color: rgb(243, 129, 129);
}
.site-navigation a:hover,
.site-navigation a:focus {
    color: rgb(243,129,129);
    
}

/* Amazing Services */

.section-title-a {
    font-family: "Kaushan Script";
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.section-title-b {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.section-title::after {
    display: block; 
    width: 60px;
    height: 3px;
    content: " ";
    background-color: rgb(243, 129, 129);
    text-align: center;
}

.section-list-item {
    position: relative;
    width: 382px;
    height: 120px;
    margin: 0px;
    padding: 0px;
    padding-left: 82px;
    text-decoration: none;
    list-style: none;
}

.section-list-item::before {
    position: absolute;
    display: block;
    margin: 0px;
    padding: 0px;
    content: "";
    top: 0px;
    left: 22px;
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-position: center;
    color: aqua;
}

.icons-alarm::before {
    background-image: url("../img/icons/services/ALARM.png");
}

.icons-line::before {
    background-image: url("../img/icons/services/LINE\ GRAPH.png");
}

.icons-computer::before {
    background-image: url("../img/icons/services/COMPUTER\ _\ OK.png");
}
.icons-book::before {
    background-image: url("../img/icons/services/BOOK\ 2.png");
}
.icons-home::before {
    background-image: url("../img/icons/services/HOME.png");
}
.icons-image::before {
    background-image: url("../img/icons/services/IMAGE.png");
}

/* .section-list-item h3 {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #333333;
    text-decoration: none;
}

.section-list-item p {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300i;
    line-height: 24px;
    color: #999999;
    text-decoration: none;
} */

.section-list-item p {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
    text-decoration: none;
}

.section-list-item h3 {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #333333;
    text-decoration: none;
}

.our-team-name h3 {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #333333;
    text-decoration: none;
}

.our-team-position {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300i;
    font-style: italic;
    line-height: 24px;
    color: #999999;
}

.our-team-list-socials li {
    /* display: inline-block; */
}

.our-team-list-socials a {
    display: block;
    width: 58px;
    height: 58px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(252, 237, 138);
    border: 1px solid rgb(243,129,129);
    
}

.icons-Facebook {
    background-image: url("../img/icons/socials/facebook.png");
}
.icons-Twitter {
    background-image: url("../img/icons/socials/twitter.png");
}
.icons-Pinterest {
    background-image: url("../img/icons/socials/pinterest.png");
}
.icons-Instagram {
    background-image: url("../img/icons/socials/twitter.png");
}
 /* footer */

  .email {
      border: none;
      margin: 0px;
      padding: 0px;
      font-family: "Roboto";
      font-size: 15px;
      font-weight: 300i;
      font-style: italic;
      line-height: 24px;
      color: #999999;
  }

  .email-button {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(149, 225, 211);
    border-style: none;
  }














.section-list-item h3 {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
}

.section-list-item p {
    font-family: "Roboto";
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

/* Meet our team */

.our-team li {
    list-style: none;
}

.our-team-list-socials a {
    text-decoration: none; 
}

/* footer */

.page-footer {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #333333;

}
.attachment a {
    text-decoration: none;
    color: #f38181;
}








/* pattern */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}